In [1]:
import pandas as pd, numpy as np, calendar as cal, datetime as dt


## Chargement du fichier des donn√©es

In [2]:
df = pd.read_table("DATA/NEW/positionshistorique.csv",sep =';',header = 0, parse_dates=[[1,2],[4,5]])

In [3]:
# df.shape (2 562 750, 13)
df.shape

(2562750, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2562750 entries, 0 to 2562749
Data columns (total 16 columns):
DateReception_HeureReception    datetime64[ns]
DateGPS_HeureGPS                datetime64[ns]
idBalise                        int64
ModemId                         int64
Longitude                       float64
Latitude                        float64
Vitesse                         int64
Direction                       int64
Altitude                        int64
Satellites                      int64
MessageId                       int64
Puissance                       float64
VoltageBatterie                 float64
Distance                        int64
Information1                    int64
Information2                    int64
dtypes: datetime64[ns](2), float64(4), int64(10)
memory usage: 312.8 MB

In [47]:
df.head()

,DateReception_HeureReception,DateGPS_HeureGPS,idBalise,Longitude,Latitude,Vitesse,Direction,Altitude,Satellites,MessageId,Puissance,VoltageBatterie,Distance
0,2017-03-28 00:00:00,2017-03-28 00:00:00,10002,7.141758,43.667102,0,0,44,8,193,12.400,4.016,1863165
1,2017-09-23 00:00:00,2017-09-23 00:00:00,10002,7.141694,43.667259,0,133,9,7,193,12.464,4.080,16707014
2,2017-10-25 00:00:00,2017-10-25 00:00:00,10002,7.141691,43.667320,0,293,29,10,193,12.432,4.000,19294619
3,2017-08-29 00:00:01,2017-08-29 00:00:00,10002,7.141827,43.667064,0,52,39,8,202,12.528,4.000,14455936
4,2017-08-22 00:00:02,2017-08-21 23:59:51,10002,7.100679,43.685825,0,318,82,0,179,12.576,4.016,13836839

In [49]:
df.count()

DateReception_HeureReception    2562750
DateGPS_HeureGPS                2562750
idBalise                        2562750
Longitude                       2562750
Latitude                        2562750
Vitesse                         2562750
Direction                       2562750
Altitude                        2562750
Satellites                      2562750
MessageId                       2562750
Puissance                       2562750
VoltageBatterie                 2562750
Distance                        2562750
dtype: int64

# Filtre

In [5]:
df.drop(['ModemId', 'Information1', 'Information2'], axis = 1, inplace = True)

In [6]:
start_date =dt.date(2017, 12, 31)
end_date=dt.date(2018, 1, 31)
mask = (df['DateGPS_HeureGPS'] > start_date) & (df['DateGPS_HeureGPS'] <= end_date)
df_selected_data= df.loc[mask]

In [7]:
selected_data=df_selected_data[df_selected_data['idBalise'].isin([10002, 10004, 10006, 10008, 10009, 10010, 10011, 11002, 11003, 11004, 11005, 11007, 11008, 12001, 12002, 12003, 12004, 12005, 12006, 12007, 12008, 12009, 12010])]

In [8]:
selected_data.shape

(166308, 13)

In [9]:
selected_data.to_csv('DATA/PREPADATA/positionshistoriqueFiltre.csv', sep = ';',index = False)

## Tri (effectu√© manuellement dans open office )
### Cl√© de tri : idBalise/DateHeureGPS/DateHeureReception

In [10]:
df_filtre_triee = pd.read_table("DATA/PREPADATA/positionshistoriqueFiltreTriee.csv",sep =';',header = 0, parse_dates=[0,1])

In [11]:
df_filtre_triee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166308 entries, 0 to 166307
Data columns (total 13 columns):
DateReception_HeureReception    166308 non-null datetime64[ns]
DateGPS_HeureGPS                166308 non-null datetime64[ns]
idBalise                        166308 non-null int64
Longitude                       166308 non-null float64
Latitude                        166308 non-null float64
Vitesse                         166308 non-null int64
Direction                       166308 non-null int64
Altitude                        166308 non-null int64
Satellites                      166308 non-null int64
MessageId                       166308 non-null int64
Puissance                       166308 non-null float64
VoltageBatterie                 166308 non-null float64
Distance                        166308 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(7)
memory usage: 16.5 MB

In [12]:
df_filtre_triee.tail()
#tri effectu√© avec open office puis enregistr√©

#selected_data.sort_values(['idBalise', 'DateGPS_HeureGPS','DateReception_HeureReception'], ascending=[True, True, True])
#df.sort_values(['idBalise', 'DateGPS_HeureGPS','DateReception_HeureReception'], ascending=[True, True, True])

,DateReception_HeureReception,DateGPS_HeureGPS,idBalise,Longitude,Latitude,Vitesse,Direction,Altitude,Satellites,MessageId,Puissance,VoltageBatterie,Distance
166303,2018-01-30 20:24:41,2018-01-30 20:23:07,12010,5.388467,43.287719,14,331,24,0,194,12.656,4.032,18777088
166304,2018-01-30 20:26:07,2018-01-30 20:26:07,12010,5.388467,43.287719,14,331,24,0,202,12.656,4.144,18777088
166305,2018-01-30 22:29:22,2018-01-30 22:26:19,12010,5.388467,43.287719,14,331,24,0,194,12.624,4.144,18777088
166306,2018-01-31 00:36:50,2018-01-30 22:26:19,12010,5.388467,43.287719,14,331,24,0,194,12.624,4.144,18777088
166307,2018-01-31 00:36:52,2018-01-30 22:30:01,12010,5.388467,43.287719,14,331,24,0,202,12.592,4.128,18777088

In [13]:
df_filtre_triee.shape

(166308, 13)

# Dedoublonage

In [14]:
#dedoublonnage 1 df_filtre v√©rifier si existe des doublons
valuelist = ['idBalise','DateGPS_HeureGPS',
       'Longitude', 'Latitude', 'Vitesse', 'Direction', 'Altitude',
       'Satellites', 'MessageId', 'Puissance', 'VoltageBatterie', 'Distance']
df_filtre_triee.duplicated(subset=valuelist, keep='first')

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18         True
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
166278    False
166279    False
166280    False
166281    False
166282    False
166283    False
166284    False
166285    False
166286    False
166287    False
166288    False
166289    False
166290    False
166291    False
166292    False
166293    False
166294    False
166295    False
166296    False
166297    False
166298    False
166299    False
166300    False
166301    False
166302    False
166303    False
166304    False
166305    False
166306     True
166307    False
Length: 166308, dtype: bool

In [15]:
#dedoublonnage 2 df_filtre executer le dedoublonage

valuelist = ['idBalise','DateGPS_HeureGPS',
       'Longitude', 'Latitude', 'Vitesse', 'Direction', 'Altitude',
       'Satellites', 'MessageId', 'Puissance', 'VoltageBatterie', 'Distance']
df_unique=df_filtre_triee.drop_duplicates(subset=valuelist, keep='first')

In [16]:
df_unique.shape

(165992, 13)

# Sauvegarde dans un fichier

In [17]:
df_unique.to_csv('DATA/PREPADATA/positionshistoriqueFiltreTrieeUnique.csv', sep = ';',index = False)

# V√©rification de la qualit√© de la variable √† calculer

In [75]:
data=df_unique.copy()
#pd.read_table("DATA/PREPADATA/positionshistoriqueFiltreTriee.csv",sep =';',header = 0, parse_dates=[0,1])

In [79]:
data["DelaiTransmission"] =data.apply ( lambda row : ( int((row["DateReception_HeureReception"]-row["DateGPS_HeureGPS"]).total_seconds() ) )  , axis = 1 )

In [80]:
data[data['DelaiTransmission'] < 0].shape

(31, 14)

In [81]:
data[data['DelaiTransmission'] > 60].shape

(15729, 14)